/* Header and Navigation */
header {
    background: rgba(13, 13, 26, 0.9);
    backdrop-filter: blur(10px);
    color: var(--text);
    padding: 1.5rem 0;
    border-bottom: 2px solid var(--primary);
    background-image: url("../misc_documents/city_3.jpg");
    background-size: cover;
    background-position: center;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.2rem;
    transition: var(--transition);
    position: relative;
    font-weight: 500;
}

.nav-links a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--primary);
    left: 0;
    bottom: -5px;
    transition: var(--transition);
}

.nav-links a:hover {
    color: var(--primary);
}

.nav-links a:hover:after {
    width: 100%;
}